<footer class="footer">
  <app-disclaimer></app-disclaimer>

  <div class="footer__inner footer__inner--buttons">
    <a class="button button--primary" routerLink="/book-consultation">Book consultation</a>
    <a class="button button--secondary" routerLink="/next-steps">Open account</a>
    <button class="button button--tertiary button--rounded button--chat">
      <img
        class="button__icon-chat"
        alt="Chat Icon"
        src="../../../assets/images/icon-chat.svg"
      />
      Chat
    </button>
  </div>
</footer>
