<header class="header">
  <div class="header__inner">
    <a [routerLink]="['/']" role="navigation" aria-label="Inyvo Homepage">
      <img
        class="header__image"
        alt="Inyova Logo"
        src="../../../assets/images/inyova-logo.svg"
      />
    </a>

    <app-navigation></app-navigation>
  </div>

  <div class="header__inner">
    <app-dropdown></app-dropdown>

    <span class="question-icon">
      <img
        class="question-icon__image"
        alt="Icon Chat"
        src="../../../assets/images/icon-question.svg"
      />
    </span>

    <img
      class="navigation-icon"
      alt="Menu Icon"
      src="../../../assets/images/icon-burger.svg"
    />
  </div>
</header>
